
:root {
    --prompt: rgb(170, 90, 90);
    --prompt2: rgb(201, 207, 211);

    --loading-wheel: rgb(223, 126, 126);
    --loading-msg: rgb(126, 126, 126);
    --player-not-found: rgb(128, 128, 128);

    --box: #222222;
    --box-accent: rgb(134, 70, 70);
    --box-title: #582c2c;
    --box-title-accent: #7c3e3e;
    
    --summary-section: #a4c2d6;
    --summary-accent: #596c79;
    --name-box: rgb(42, 57, 71);
    --name-box-accent: #6e7e88;

    --dropdown: rgb(168, 168, 168);
    --dropdown-border: rgb(119, 119, 119);
    --dropdown-items: rgb(182, 182, 182);
    --dropdown-item-border: rgb(136, 136, 136);
}

#overlay {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.loading-symbol {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid var(--loading-wheel);
    border-bottom: 7px solid var(--loading-wheel);
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 45vh;
  }
  
  @-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }

.loading-msg {
    margin: auto;
    margin-top: 10px;
    text-align: center;
    color: var(--loading-msg);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.nog-ops {
    margin: auto;
    text-align: center;
    margin-top: 80px;
}

.nog-ops img {
    height: 425px;
    width: auto;
}

.prompt {
    margin-top: 18vh;
    text-align: center;
}

.prompt h1 {
    color: var(--prompt);
    font-size: 40px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    margin-bottom: 8px;
}

.prompt2 {
    margin-top: 3vh;
    text-align: center;
}

.prompt2 h1 {
    color: var(--prompt2);
    font-size: 21px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
}

.textarea-wrap, .searchbtn-wrap {
    float: none;
    display: table-cell;
    vertical-align: middle;
}

.search_bar, .search_bar2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_bar2 {
    margin-top: 4px;
    margin-bottom: 5vh;
}

.search_bar textarea, .search_bar2 textarea {
    text-align: center;
    color: rgb(38, 48, 56);
    background-color: rgb(233, 233, 233);
    padding: 8px 10px 12px;
    border: solid 3px rgb(139, 164, 173);
    height: 32px !important;
    width: 625px !important;
    outline: none;
    font-size: 22px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: normal;
    resize: none;
    border-radius: 10px 10px;
}

.search_bar2 textarea {
    height: 26px !important;
    width: 475px !important;
    font-size: 18px;
    padding: 3px 10px 4px;
    border: solid 2px rgb(139, 164, 173);
}

.search_bar button {
    height: 55px;
    padding: 0px 10px 3px;
    color: rgb(28, 30, 36);
    font-size: 22px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
}

.player-not-found {
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

.player-not-found p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--player-not-found);
    font-weight: 700;
    line-height: 10px;
}

.seasonDd {
    position: absolute;
    z-index: 999;
    width: 150px;
    margin: 2px 62.5px;
    text-align: center;
    padding: 0;
}

.seasonDdHeader hover, .seasonDdHeader p:hover {
    cursor: pointer;
}

.seasonDdHeader {
    margin-bottom: 0;
}

.seasonDdHeader p {
    font-family: 'Heebo', sans-serif;
    font-size: 17px;
    color: rgb(41, 41, 41);
    font-weight: 700;
    padding: 3px 2px;
    background-color: var(--dropdown);
    border: solid 2px var(--dropdown-border);
    margin-bottom: 0;
    /* border-radius: 15px 0px; */
}

.seasonDdHeader p:hover {
    background-color: var(--dropdown-items);
    transition: background-color 0.1s ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
}

.dd-list li {
    list-style-type: none;
    background-color: var(--dropdown-items);
    color: rgb(54, 54, 54);
    padding: 4px 2px;
    font-family: 'Heebo', sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin-top: 0;
    border-bottom: var(--dropdown-item-border) solid 2px;
}

.dd-list li:hover {
    cursor: pointer;
    background-color: var(--dropdown);
    transition: background-color 0.1s ease-in-out;
}

.player_stats {
    margin: auto;
    width: 1117px
}

.left_section {
    float: left;
    width: 275px;
    height: 820px;
    background-color: var(--box);
    color: #fff;
    border-radius: 15px 0px;
    box-shadow: 6px 6px var(--summary-accent);
}

.player_name {
    font-family: 'Heebo', sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    padding: 10px 0;
    background-color: var(--name-box);
    border-radius: 15px 0px;
    box-shadow: 0px 3px var(--name-box-accent);
}

.right_section {
    float: right;
    width: 820px;
    color: #fff;
}

.solo_section, .duo_section, .squad_section, .total_section {
    width: 100%;
    height: 190px;
    background-color: var(--box);
    margin-top: 0;
    margin-bottom: 20px;
    border-radius: 15px 0px;
    box-shadow: 6px 6px var(--box-accent);
}

.section_title {
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    padding: 3px 10px;
    width: 100px;
    background-color: var(--box-title);
    border-radius: 15px 0 15px 0;
    box-shadow: 3px 3px var(--box-title-accent);
}

.solo_section p, .duo_section p, .squad_section p, .total_section p {
    margin: 0;
}

.left_stats, .mid_left_stats, .mid_right_stats, .right_stats {
    float: left;
    width: 22%;
    margin-top: 15px;
    margin-left: 2%;
    text-align: center;
    line-height: 34px;
}

.categories {
    font-size: 14px;
    color: rgb(184, 184, 184);
    font-weight: 500;
}

.left_stats p, .mid_left_stats p, .mid_right_stats p, .right_stats p {
    font-size: 22px;
    font-weight: bold;
}

.stat_dne {
    margin: auto;
    text-align: center;
}

.stat_dne p {
    padding-top: 50px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.stat_summary {
    margin: auto;
    text-align: center;
    padding: 67px 0px 8px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.sum_title {
    text-align: center;
}

.sum_title p {
    font-size: 20px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    margin: 0px 85px;
    color: var(--summary-section);
    /* background-color: rgb(76, 95, 112); */
}

.sum_stats_upper, .sum_stats_lower {
    margin: auto;
    width: 225px;
    margin-top: 12px;
}

.sum_stats_lower {
    width: 150px;
}

.sum_stats_category {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: rgb(177, 177, 177);
}

.sum_stats_upper p, .sum_stats_lower p {
    font-size: 21px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.top-left-sum, .top-mid-sum, .top-right-sum, .lower-left-sum, .lower-right-sum {
    float: left;
    width: 33.3%;
    text-align: center;
    line-height: 5px;
}

.lower-left-sum, .lower-right-sum {
    width: 50%;
    margin-bottom: 15px;
}

.footer, .footer2 {
    margin: auto;
    margin-top: 890px;
    padding: 12px 0;
    background-color: #0b1013;
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.footer2 {
    margin-top: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
}